variable :
Variables are containers for storing data values.
Python has no command for declaring a variable.
A variable is created the moment you first assign a value to it.

In [1]:
x=5
y="john"
print(x)
print(y)

5
john

In [2]:
#If you want to specify the data type a variable , This can be done with casting.
x=str(3) #x will be "3"
y=int(3) #y will be 3
z=float(3) #z will be 3.0

print(x)
print(y)
print(z)

3
3
3.0

In [3]:
x=5
y="john"
z=1j
a=10.5
print(type(x))
print(type(y))
print(type(z))
print(type(a))

<class 'int'>
<class 'str'>
<class 'complex'>
<class 'float'>

In [4]:
x="john"
# is the same as john
x='jone'
print(x)

jone

In [5]:
a=4
A="Nitesh"
#A will not overwrite a
print(a)
print(A)

4
Nitesh

In [6]:
#Many value to multiple variable 
x,y,z="Cat","mat","chat"
print(x)
print(y)
print(z)

Cat
mat
chat

In [7]:
#one value to be multiple variable
#x,y,z = "nitesh"
#print(x)
#print(y)
#print(z)

In [8]:
#some example of variable

In [9]:
x="python is awesome"
print(x)

python is awesome

In [10]:
# x = 5
# y = "John"
# print(x + y)

# here they give error

In [11]:
x="nitesh"
y="kumar"
print(x,y)

nitesh kumar

In [12]:
x="nitesh "
y="kumar"
print(x+y)

nitesh kumar

In [13]:
x=6
y=8
print(x+y)

14

In [14]:
x=6
y="nitesh"
print(x,y)

6 nitesh

In [15]:
#python Operators

In [16]:
#1.Arithmetic operators (+,-,*,/,%,//,**)

In [17]:
x=2
y=6
print(x+y)

8

In [18]:
x=2
y=6
print(x-y)

-4

In [19]:
x=2
y=6
print(x*y)

12

In [2]:
x=12
y=6
print(x/y)

2.0

In [3]:
x=123
y=6
print(x%y)
#% will give the reminder value.

3

In [22]:
x=12
y=3
print(x**y) #y value will be number of time(12*12*12)

1728

In [23]:
x=13
y=6
print(x//y)#the floor division //round the result done to the nearest of whole number.
x=13
y=6
print(x/y)

2
2.1666666666666665

In [24]:
#2. Assignment Operators (=,+=,-=,*=,/=,%=,**=,//=)

In [25]:
x=5
print(x)

5

In [26]:
x=5
x +=2
print(x)

7

In [27]:
x=5
x -=2
print(x)

3

In [28]:
x=5
x *=2
print(x)

10

In [29]:
x=5
x /=2
print(x)

2.5

In [30]:
x=5
x %=2
print(x)

1

In [31]:
x=5
x //=2
print(x)

2

In [32]:
x=5
x **=2
#(5x5...2 time)
print(x)

25

In [33]:
#3. Comparison Operators (==,!=,>,>=,<,<=)

In [34]:
x=5
y=3
print(x==y)

False

In [35]:
x=5
y=3
print(x!=y)

True

In [36]:
x=5
y=3
print(x>y)

True

In [37]:
x=5
y=3
print(x>=y)

True

In [38]:
x=5
y=3
print(x<y)

False

In [39]:
x=5
y=3
print(x<=y)

False

In [40]:
#4.Logical Operators (and, or, not)

In [41]:
#AND
x=5
print(x>3 and x<10)
# returns True because 5 is greater than 3 AND 5 is less than 10

True

In [42]:
#OR
x=5
print(x>3 or x<4)
# returns True because one of the conditions are true (5 is greater than 3, but 5 is not less than 4)

True

In [43]:
#NOT
x=5
print(not(x>3 and x<10))
# returns False because not is used to reverse the result

False

In [44]:
#5. Identity Operators (is, is not)

In [45]:
#IS
x="nitesh"
y="nitesh"
print(x is y)

True

In [46]:
#IS
x="nitesh"
y="Santosh"
print(x is y)

False

In [47]:
#IS NOT
x="nitesh"
y="nitesh"
print(x is not y)

False

In [48]:
#IS NOT
x="nitesh"
y="santosh"

print(x is not y)

True

In [49]:
#6. Membership Operators (in, not in)

In [50]:
#In
x=["Banana","car"]
print("Banana" in x)
# returns True because a sequence with the value "banana" is in the list

True

In [51]:
#Not in
x=["Banana","car"]
print("pineapple" not in x)
# returns True because a sequence with the value "pineapple" is not in the list

True

#how to copy object in python ?
1.deep copy = any change made to a copy of object do not reflect in original object.
Syntax: copy.deepcopy()

2.shallow copy = a copy of the original object is stored and only the reference address is finally copied.  
Syntax: copy.copy()

In [52]:
#deep copy
l=[[1,2],[23,34],[56,67]]
import copy
a=copy.deepcopy(l)
print(a)

a[1][0]=10
a[0][1]=89

print(a)
print(l)

[[1, 2], [23, 34], [56, 67]]
[[1, 89], [10, 34], [56, 67]]
[[1, 2], [23, 34], [56, 67]]

In [53]:
l = ["a","b","c","d"]
import copy
a=copy.deepcopy(l)
print(a)

a[2]= 20
a[1]=10
print(a)
print(l)

['a', 'b', 'c', 'd']
['a', 10, 20, 'd']
['a', 'b', 'c', 'd']

In [54]:
#deep copy
l=[[10,20],[30,40]]
import copy
a=copy.deepcopy(l)
print(a)
a[0][0]="abc"
a[1][1]="xyz"

print(a)
print(l)

[[10, 20], [30, 40]]
[['abc', 20], [30, 'xyz']]
[[10, 20], [30, 40]]

In [6]:
#shallow copy
a=[["Nitesj","sanju"],["hema","seema"]]
import copy
b=copy.copy(a)

print(b)

a[0][1]="manu"
a[1][1]="rachana"

print(a)
print(b)

AttributeError: module 'copy' has no attribute 'shallowcopy'

In [1]:
#shallow copy
a=[["abc","def"],["xyz","mno"]]
import copy
b=copy.copy(a)
print(b)
a[0][0]=10
a[1][1]=50

print(b)
print(a)

[['abc', 'def'], ['xyz', 'mno']]
[[10, 'def'], ['xyz', 50]]
[[10, 'def'], ['xyz', 50]]

In [57]:
#how to create table
Num=int(input("enter your table number"))
for i in range (1,11):
    print(Num,"x",i,"=", Num*i)
    
print("The Multiplication table of :",Num)

enter your table number 2

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
The Multiplication table of : 2

In [58]:
# pre-define function
x=5
y=10

x, y = y, x
print(x)
print(y)

print("x =", x)
print("y =", y)

10
5
x = 10
y = 5

In [59]:
# pre-define function
x="parth soni"
y="preet patel"

x, y = y, x

print(x)
print(y)

print("x =", x)
print("y =", y)

preet patel
parth soni
x = preet patel
y = parth soni

In [60]:
# User-define function
x=input("Enter your name")
y=input("Enter your name")

x, y = y, x

print(x)
print(y)

print("x =", x)
print("y =", y)

Enter your name nitesh
Enter your name sunil

sunil
nitesh
x = sunil
y = nitesh

In [61]:
#pre define fuction
x=10
y=20

temp=x
x=y
y=temp

#Temp=x=y=temp
print(x)
print(y)

print("the value of x after swapping",x)
print("the value of y after swapping",y)

20
10
the value of x after swapping 20
the value of y after swapping 10

In [62]:
# user define function
x=input("enter your name ")
y=input("enter your name ")

temp=x
x=y
y=temp

print("the value of x after swapping ", x)
print("the value of y after swapping ", y)

enter your name  Nitesh
enter your name  Sunil

the value of x after swapping  Sunil
the value of y after swapping  Nitesh

In [63]:
#keywords=33
import keyword
a=keyword.kwlist
print(a)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [64]:
#date & time import
import datetime
today=datetime.datetime.now()
print(today)

2023-11-14 22:35:17.111458

In [65]:
#python version
import sys
print(sys.version)

3.12.0 (tags/v3.12.0:0fb18b0, Oct  2 2023, 13:03:39) [MSC v.1935 64 bit (AMD64)]

In [66]:
#empty list,tuple,set,dict& None class.

In [67]:
#empty list
a=[]
print(a)

[]

In [68]:
#empty tuple
a=()
print(a)

()

In [69]:
#empty dict
a={}
print(a)

{}

In [70]:
#empty set
a=set()
print(a)

set()

In [71]:
#none class
a=None
print(a)

None

In [72]:
#Palindrom in pyton:-
#A string is said to be palindrome if the reverse of the string is the same as string.ex.(wow,101,202,mom)

In [73]:
#Palindrom (madam,101,wow,202,121,303,404,555,111)
#Pre define function
a="madam"
if a==a[::-1]:
    print("yes,It's palindrom series")
else:
    print("No")

yes,It's palindrom series

In [74]:
#User define function
a=input("Enter your num")
if a==a[::-1]:
    print("yes,It's palindrom series")
else:
    print("No")

Enter your num 121

yes,It's palindrom series

In [75]:
 # A list containing average daily temperature over a week

In [76]:
temperatures= [20,30,40,45,34,50]
print(temperatures)
type(temperatures)

[20, 30, 40, 45, 34, 50]

list

In [77]:
len(temperatures)

6

In [78]:
sum(temperatures)

219

In [79]:
print(temperatures[3:5])

[45, 34]

In [80]:
max_temp=[20,34,35,46]
print(max_temp[3])

46

In [81]:
Min_temp=[20,34,35,46]
print(Min_temp[0])

20

In [82]:
#nested if-else statement
age=int(input("enter the age: "))
gender=input("enter the gender (M/F): ").upper()


if age <18:
    if gender=="M":
        print("you are a young boy")
    elif gender=="F":
        print("you are a young girl")
    
else:
    if gender=="M":
        print("you are a old Man")
    elif gender=="F":
        print("you are a old Woman")

enter the age:  13
enter the gender (M/F):  F

you are a young girl

In [83]:
# create a program that takes a temperature in celsius and converts it to Fahrenheit.
# Display the result with an appropriate message.
Celsius=float(input("Enter the temperature: "))

# conversion celsius to fahrenheit
# multiply by 1.8 (or 9/5) and add 32.


Fahrenheit=(Celsius*1.8)+32

print( Celsius,'celsius to fahrenheit conversion in fahrenheit is: ', Fahrenheit)

Enter the temperature:  56

56.0 celsius to fahrenheit conversion in fahrenheit is:  132.8

In [84]:
# create a program that asks the user for three numbers and then prints them in ascending order.
# sorted function
Num1=int(input("Enter your num"))
Num2=int(input("Enter your num"))
Num3=int(input("Enter your num"))

sorted_Fuction=sorted([Num1,Num2,Num3])

print("Number in Asending order: ",sorted_Fuction)

Enter your num 12
Enter your num 24
Enter your num 11

Number in Asending order:  [11, 12, 24]