In [1]:
#lambda function
#lambda function can take any number of arguments, but can only one expression
#syntax = lambda argument : expression

In [2]:
x=lambda a:a+5
print(x(10))

15

In [3]:
x=lambda a:a-5
print(x(10))

5

In [4]:
x=lambda a:a+10*2/5
print(x(10))

14.0

In [5]:
x=lambda a:a/5*200/10+50/100+500*100/25-5
print(x(10))

2035.5

In [64]:
x=lambda a:a+5
print(x(10))

15

In [65]:
x=lambda a:a+10*2/5
print(x(5))

9.0

#The Bodmas rule follows the order of the BODMAS acronym ie  
B – Brackets, O – Order of powers or roots, D – Division, M – Multiplication A – Addition, and S – Subtraction. 
Mathematical expressions with multiple operators need to be solved from left to right in the order of BODMAS

In [66]:
x=lambda x:x+5*2-3/6
print(x(10))

19.5

In [67]:
x=lambda a,b:a+b
print(x(3,4))

7

In [69]:
x=lambda a,b:a*b
print(x(2,3))

6

In [70]:
x=lambda x,y,z: x*y*z
print(x(2,3,4))

24

In [71]:
A=lambda x,y=14,z=24 : z+x+y
print(A(10))

48

In [76]:
A=lambda * args:sum(args)
print(A(2,3,4))

9

In [77]:
#Higher order of fuction
A=lambda x,fun:x+fun(x)
print(A(20,lambda x:x*x))

420

In [80]:
#display odd and even 
A=lambda x:(x%2 and 'Add' or 'Even')
print(A(20))

Even

In [82]:
Str=lambda string: string in "Welcome to Python tutorial"
print(Str("Python"))
print(Str("Java"))

True
False

In [88]:
num=int(input("Enter you number"))
greater= lambda num:(num>30 and "Yes" or "No")
print(greater(num))

Enter you number 45

Yes

num=[20,34,23,45]
greater = num(filter(lambda num : num>30,num))
print(greater)

num=[20,34,23,45]
divide = list(filter(lambda x : (x%4==0),num))
print(divide)

python function : def
A function is a block of code which only runs when it is called.
def keyword is use for python function.

In [1]:
def my_function():
  print("Hi Nilesh you are champ")
my_function()

Hi Nilesh you are champ

In [7]:
def abc():
 print ("My Name is Nitesh")
abc()

My Name is Nitesh

In [8]:
#Python pre-define Function:
#A pre-defined function is built into the software and does not need  to be created by a programmer.

In [9]:
#ex.(+,/,-,*)
def add():
    a=5
    b=6
    c=a+b
    print(c)
add()

11

In [10]:
#Python User-defined Function:
#That you use to organize your code in the body of a policy.

In [11]:
#ex.(+,/,-,*)
def multi():
    a=float(input("Enter your Num"))
    b=float(input("Enter your Num"))
    c=a*b
    print(c)
multi()

Enter your Num 4
Enter your Num 2

8.0

arguments:
Information can be passed into functions as arguments.
Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma

In [12]:
def my_function(fstname):
    print(fstname,"Tiwari")
my_function("Parth")
my_function("Manju")
my_function("Nilesh")

Parth Tiwari
Manju Tiwari
Nilesh Tiwari

In [13]:
def my_function(fstname):
    print(fstname,"Kumar",123,"Tiwari")
my_function("Parth")
my_function("Manju")
my_function("Nilesh")

Parth Kumar 123 Tiwari
Manju Kumar 123 Tiwari
Nilesh Kumar 123 Tiwari

In [14]:
def my_fuction(Name):
    print(Name,"kumar","tiwari")
my_fuction("Sanjay")
my_fuction("Manu")
my_fuction("Rajeev")

Sanjay kumar tiwari
Manu kumar tiwari
Rajeev kumar tiwari

In [15]:
#Python program to print the season
#Name based on the month number

def findseason (M):
    list1=[[12,1,2],[3,4,5],[6,7,8],[9,10,11]]
    
    if M in list1[0]:
        print("Winter")
    elif M in list1[1]:
        print("spring")
    elif M in list1[2]:
        print("Summer")
    elif M in list1[3]:
        print("Autumn")
    else:
        print("Invalid Month Number")
#Pre-define
#M=4
#print("For Month number:",M);
#findseason(M)

#User-define
M=int(input("Enter month Name"))
print("For Month number:",M);
findseason(M)

Enter month Name 4

For Month number: 4
spring

In [16]:
def findseason (M):
    list=[[12,1,2],[3,4,5],[6,7,8],[9,10,11]]
    
    if M in list [0]:
        print("Winter")
    elif M in list [1]:
        print("spring")
    elif M in list [2]:
        print("Summer")
    elif M in list [3]:
        print("Autums")


M=int(input("Enter month Name"))
print("For Month number:",M);
findseason(M)

Enter month Name 3

For Month number: 3
spring

*args and **kwargs ?
when you are not clear how many arguments you need to pass in particular function, that time we use *args and **kwargs.

*args =  arguments. It is used to pass multiple arguments in a function.

**kwargs=keyword arguments. It is used to pass multiple keyword arguments in a function

In [17]:
# here we know how many arguments will pass.

def fun1(Name,age,roll_no):
    print("My name is ", Name,"My age is",age,"and my roll # is ", roll_no)

fun1("Nitesh",32,64)

My name is  Nitesh My age is 32 and my roll # is  64

In [18]:
# Appling *args
def fun1(*args):
    print("My name is ", args[0],"My age is",args[1],"and my roll # is ", args[2])
    print(type(args))
fun1("Nitesh",32,64)

My name is  Nitesh My age is 32 and my roll # is  64
<class 'tuple'>

In [19]:
#Add Gender
def fun2(*args):
    print("My name is ", args[0], "My age is", args[1], "and my roll # is ", args[2], "Gender",args[3])
   
fun2 ("Nitesh","32","64","Male")

My name is  Nitesh My age is 32 and my roll # is  64 Gender Male

In [20]:
#Add adhar number & address
def fun2(*args):
    print("My name is ", args[0], "My age is", args[1], "and my roll # is ", args[2], "Adhar_number",args[3],"Address",args[4])
   
fun2 ("Nitesh","32","64","7428-8094-0569","Vill_Ramnipur,Post_pilkichha,Dist_Jaunpur,UP-223104")

My name is  Nitesh My age is 32 and my roll # is  64 Adhar_number 7428-8094-0569 Address Vill_Ramnipur,Post_pilkichha,Dist_Jaunpur,UP-223104

In [21]:
#*args (student name,age,roll_Number)
# When we have only same details and some details are missing
def fun2(*args):
    if (len(args)==3):
        print("My name is ", args[0], "My age is", args[1], "and my roll # is ", args[2])
    
    elif (len(args)==2):
        print("My name is ", args[0], "My age is", args[1],)
    elif (len(args)==1):
        print("My name is ", args[0])

fun2 ("Nitesh","32","64")
fun2 ("Sanju","32")
fun2 ("Manoj",32,56)
fun2("Aatu")
fun2("Shivi",27,113065)

My name is  Nitesh My age is 32 and my roll # is  64
My name is  Sanju My age is 32
My name is  Manoj My age is 32 and my roll # is  56
My name is  Aatu
My name is  Shivi My age is 27 and my roll # is  113065

In [22]:
# **kwargs (here pass 2 element (key and value))
# ex.1 (student name, marks)
def stu_marks(**kwargs):
    print(type(kwargs))
    for key,value in kwargs.items():
        print(key,value)
marklist={"Nitesh":32,"Shivi":28,"Ashtha":2,"Nilesh":30,"papa":48,"Mom":45}
stu_marks(**marklist)

<class 'dict'>
Nitesh 32
Shivi 28
Ashtha 2
Nilesh 30
papa 48
Mom 45

In [23]:
# **kwargs (here pass 2 element (key and value))
def emp(**kwargs):
    print(type(kwargs))
    for key,value in kwargs.items():
        print(key,value)
    
emp_details = {"astha":101, "preeti":102, "krina":103, "dhruv":104, "jimmy":105, "jaya":106, "ashish":107}
emp(**emp_details)

<class 'dict'>
astha 101
preeti 102
krina 103
dhruv 104
jimmy 105
jaya 106
ashish 107

In [24]:
#Keyword arguments
#you can also send arguments with the key=value syntex
def my_fuction(child3,child2,child1):
    print("My youngest child is " ,child1)
    
my_fuction(child1="Ashtha",child2="Shiva",child3="Manu")

My youngest child is  Ashtha

In [25]:
def my_fuction(child3,child2,child1):
    print("My youngest child is " ,child1)
    print("My youngest child is " ,child2)
    print("My youngest child is " ,child3)
    
my_fuction(child1="Ashtha",child2="Shiva",child3="Manu")

My youngest child is  Ashtha
My youngest child is  Shiva
My youngest child is  Manu

In [26]:
#default parameter value
#the following example show how to use the default parameter value.

def my_fuction(counrty="Norwey"):
    print("I am living in " ,counrty)
    
my_fuction("India")
my_fuction("Astria")
my_fuction("Pak")

I am living in  India
I am living in  Astria
I am living in  Pak

factorial
The factorial is always found for a positive integer by multiplying all the integers starting from 1 till the given number.
ex. given number is 5
5*4*3*2*1
output = 120.

4 = 4*3*2*1 = 24
8 = 8*7*6*5*4*3*2*1 = 40320

In [27]:
#User define function
num=int(input("enter your number"))
factorial=1
if num<0:
    print("Sorry factorial does not exist for negative number")
elif num==0:
    print("the factorial of 0 is 0")
else:
    for i in range(1,num+1):
        factorial = factorial*i
    print("the factorial of ",num,"is",factorial)

enter your number 3

the factorial of  3 is 6

In [28]:
#Pre define function
num=7
factorial=1
if num<0:
    print ("sorry factorial does not exist for negative number")
elif num==0:
    print("Zero factorial will be 0")
else:
    for i in range (1,num+1):
        factorial = factorial*i
    print("The factorial of ",num,"is",factorial)

The factorial of  7 is 5040

In [29]:
#Break, continue, pass

In [30]:
#Break statement use inside the loop, will terminate the loop and exist.

In [31]:
# (0,1,2,3,4,5,6,7,8)
for i in range(9):
    if i==5:
        break
    print(i,end=" ")

0 1 2 3 4

In [32]:
x=("Mango","Banana","Gia","Book","santo")

for i in x:
    if i=="Gia":
        break
    print(i,end=" ")

Mango Banana

In [33]:
#continue
#a continue statement will stop the current execution when used in side loop, and the control will go back to the 
#start of the loop.
    
# (0,1,2,3,4,5,6,7,8)
    
for i in range(9):
    if i==5:
        continue
    print(i,end=" ")

0 1 2 3 4 6 7 8

In [34]:
x=("Mango","Banana","Gia","Book","santo")

for i in x:
    if i=="Gia":
        continue
    print(i,end=" ")

Mango Banana Book santo

pass statement  is used to do nothing.
(it can be used when a statement required syntactically correct but we do not do any operation.)

In [35]:
#pass 
if 5>2:
    pass
else:
    print ("else part")
print()

In [36]:
if 5>10:
    pass
else:
    print ("else part")
print()

else part

In [37]:
#for loop and while loop

In [38]:
#for Loop
#ex.1
x=("nitesh","sanchin","mango")
for i in x:
    print(i,end=" ")

nitesh sanchin mango

In [39]:
#ex.2
for i in "banana":
    print(i)

b
a
n
a
n
a

In [40]:
#ex.3
for i in range (10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [41]:
#ex.4
for i in range (1,8,2):
    print(i)

1
3
5
7

#while loop

In [42]:
#ex.1
i=1
while i<9:
    print(i)
    i += 1

1
2
3
4
5
6
7
8

In [43]:
#ex.2
i=2
while i<7:
    print(i)
    i += 2

2
4
6

In [44]:
#ex.3 (0,1,2,3) (1,2,3,4)
i=1
while i<6:
    print(i)
    if i==4:
        break
    i+=1

1
2
3
4

In [45]:
#python casting

In [46]:
# INT casting
x=int(4)
y=int(5.6)
z=int("3")

print(x)
print(y)
print(z)

4
5
3

In [47]:
#float casting
x=float(3.4)
y=float(3)
z=float("4")

print(x)
print(y)
print(z)

3.4
3.0
4.0

In [48]:
#String casting
x=str(3.4)
y=str(3)
z=str("Nitesh")

print(x)
print(y)
print(z)

3.4
3
Nitesh

In [49]:
#how to find out data type

In [50]:
mylist=("apple,","banan","cherry")
print(type(mylist))

mylist=["apple,","banan","cherry"]
print(type(mylist))

<class 'tuple'>
<class 'list'>

In [51]:
mylist={"apple,","banan","cherry"}
print(type(mylist))

mylist="apple"
print(type(mylist))

<class 'set'>
<class 'str'>

In [52]:
mylist=45
print(type(mylist))

mylist=45.25
print(type(mylist))

<class 'int'>
<class 'float'>

In [53]:
mylist={"apple":"banana","cherry":"grapes"}
print(type(mylist))

mylist=1j
print(type(mylist))

<class 'dict'>
<class 'complex'>

In [54]:
r=range(9)
print(type(r))

x = None
print(type(x))

<class 'range'>
<class 'NoneType'>

In [55]:
#convert list into tuple = tuple function
list=[1,2,3,4,5,6,7,3,4,5,6]

tuple1=tuple(list)
print(tuple1)
print(type(tuple1))

(1, 2, 3, 4, 5, 6, 7, 3, 4, 5, 6)
<class 'tuple'>

#convert tuple into list = list function

tuple1=(1,2,3,4,5,6,7,3,4,5,6)
#Tuple to list
list1= list(tuple1)

print(list1)
print(type(list1))

In [56]:
#convert list into set = set function
#it's use when we have to remove duplicates from list
mylist=[1,2,3,4,2,3,4,5]

set1=set(mylist)
print(set1)
print(type(set1))

{1, 2, 3, 4, 5}
<class 'set'>

In [57]:
# Using a for loop "Nitesh" 5 time

for i in range(5):
    print("Nitesh")

Nitesh
Nitesh
Nitesh
Nitesh
Nitesh

In [58]:
#Using for loop to display the number 10 to 1
for i in range(10,0,-1):
    print(i,end=' ')

10 9 8 7 6 5 4 3 2 1

In [59]:
#write a program which accept name from user and display length of its name

name=input("Enter your name")

print(len(name))

Enter your name niltesh

7

In [60]:
#Enter you phone#
Phone_num = input("Enter your phone#")
lenght = len(Phone_num)

print("length of mobile#",lenght)

Enter your phone# 7428809506

length of mobile# 10

In [61]:
#how to divide odd and even number in to different list

list=[1,2,3,4,5,6,7,8,9,10]

evenlist=[]
oddlist=[]

for i in list:
    if i%2==0:
        evenlist.append(i)
    else:
        oddlist.append(i)
        
print(evenlist)
print(oddlist)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

In [62]:
#how to divide odd and even number in to different list
evenlist=[]
oddlist=[]

for i in range(1,101,1):
    if i%2==0:
        evenlist.append(i)
    else:
        oddlist.append(i)
        
print(evenlist)
print(oddlist)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [63]:
#divide age in to above 50 and below 50.
age=[10,20,30,40,50,60,70,80,90,100,110]

above50=[]
below50=[]

for i in age:
    if i>=50:
        above50.append(i)
    else:
        below50.append(i)

print(above50)
print(below50)

[50, 60, 70, 80, 90, 100, 110]
[10, 20, 30, 40]