Step 1: Install MySQL Connector for Python

In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (9.0.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Step 2: Connect to MySQL Database

In [2]:
#here mydb id a name of aliaas
import mysql.connector
# Connect to the MySQL server
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="Erbipin@56",
    
)

print(mydb)
# Create a cursor object to interact with the database
db_cursor = mydb.cursor()
#LearnCoding...Here LearnCoding name od date base
db_cursor.execute("create database LearnCoding")

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000020B51AB5B80>

In [3]:
#In last step we had table under database learnCoding
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="Erbipin@56",
    database="LearnCoding"
    
)

db_cursor = mydb.cursor()
db_cursor.execute("create table Emp1(Roll int(10), Ename varchar(20))")
print('Table created')

Table created

In [4]:
#how to you can see your table
db_cursor = mydb.cursor()
db_cursor.execute("show tables")
for i in db_cursor:
    print(i)

('emp1',)

In [5]:
#insert record in SQL
insert_query=("insert into Emp1 (Ename,Roll) values(%s,%s)")
insert_value=("Ankit",10)
db_cursor = mydb.cursor()
db_cursor.execute(insert_query,insert_value)
mydb.commit()

In [6]:
insert_query=("insert into Emp1 (Ename,Roll) values(%s,%s)")
insert_value=("Nitesh",11)
db_cursor = mydb.cursor()
db_cursor.execute(insert_query,insert_value)
mydb.commit()

In [7]:
insert_query=("insert into Emp1 (Ename,Roll) values(%s,%s)")
insert_value=("shiva",12)
db_cursor = mydb.cursor()
db_cursor.execute(insert_query,insert_value)
mydb.commit()

In [8]:
mydb.commit()

In [9]:
#how to insert multipal record in database
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="Erbipin@56",
    database="LearnCoding"
)

db_cursor=mydb.cursor()
db_insert = "insert into Emp1(Roll,Ename) values(%s,%s)"
db_list=[(14,"Anish"),(40,"Altaf"),(18,"Rohit")]
db_cursor.executemany(db_insert,db_list)
mydb.commit()

print(db_cursor.rowcount,"Record inserted")

3 Record inserted

In [10]:
#how to see the record in datebase or run the select query
db_cursor.execute("select * from LearnCoding.Emp1 ")
db_select=db_cursor.fetchall()
print(db_select)

[(10, 'Ankit'), (11, 'Nitesh'), (12, 'shiva'), (14, 'Anish'), (40, 'Altaf'), (18, 'Rohit')]

In [11]:
#or
db_cursor.execute("select * from LearnCoding.Emp1 ")
db_select=db_cursor.fetchone()
print(db_select)

(10, 'Ankit')

# USe loop to featch the record
db_cursor.execute("select * from LearnCoding.Emp1")
for db_data in db_cursor.fetchall():
    print(db_data)

In [15]:
# How to update record in database

import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="Erbipin@56",
    database="LearnCoding"
    
)

db_cursor = mydb.cursor()
db_Updatedata="Update Emp1 set Roll = %s where Ename=%s"
db_value=(111,"Anish")
db_cursor.execute(db_Updatedata, db_value)
mydb.commit()
print(db_cursor.rowcount,"Data Updated")

1 Data Updated

In [29]:
#How to Delete the record in database
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="Erbipin@56",
    database="LearnCoding"
)

db_cursor=mydb.cursor()

db_delete = "delete from Emp1 where Ename=%s"
db_value=("Nitesh",)
db_cursor.execute(db_delete, db_value)
mydb.commit()
print(db_cursor.rowcount,"Data delete")

0 Data delete

In [31]:
#Use truncate
db_truncate = "truncate table Emp1 "

db_cursor.execute(db_truncate)
mydb.commit()
print(db_cursor.rowcount,"Data delete")

0 Data delete