***Importing pandas***

In [1]:
import pandas as pd

***Opening a Local CSV file***

In [4]:
df=pd.read_csv(r'C:\Users\Admin\Desktop\Viska\EDA/student.csv')
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

***Opening a CSV file from an URL***

import requests
from io import StringIO

url = "https://github.com/dr5hn/countries-states-cities-database/blob/master/csv/countries.csv"
headers = {"User-Agent": "Mozilla/5.0(Macintosh; Intel Mac OS X 10.14; rv:66.0) Gecko/20100101 Firefox/66.0"}
req = requests.get(url, headers=headers)
data = StringIO(req.text)
pd.read_csv(data)

***Sep Parameter***

In [ ]:
pd.read_csv('movie_titel', sep='\t')--here \t is work as nexttab.

In [ ]:
pd.read_csv('movie_titel', sep='\t',name=['SR','name','movie_rating','vote'])--Name is column name.

***Index_col Parameter***--It will change the automatic index and give index as per your record.

In [ ]:
pd.read_csv('aug_train',index_col='1st_column_name')

***Header_Parameter*** if your header is reflecting in 1st row.

In [ ]:
pd.read_csv('aug_train',header=1)

****Use_Column_Parameter****--It will select only those columns which is required for this.

In [ ]:
pd.read_csv('aug_train',usecols=['name','vote']

***Encoding Parameter***

In [ ]:
pd.read_csv('aug_train',encoding='latin-1')---it will use once we get the error UnicodeDecoderError

***Skip Bad Lines***---once you are getting Parser Error

In [ ]:
pd.read_csv('aug_train',encoding='latin-1',sep=';',error_bad_lines=False)

***dtypes Paramater***--Change the data type

In [ ]:
pd.read_csv('aug_train',dtype={'target':int})

***Handling Dates***---parse_date is convert text to date.

In [ ]:
pd.read_csv('aug_train',parse_dates=['date']

***covertors***

In [16]:
def rename (name):
    if name == "Royal Challenger Bangalore":
        return "RCB"
    else:
        return name

In [17]:
rename('Royal Challenger Bangalore')

'RCB'

pd.read_csv('aug_train',converters={'team':rename})--Here team is column name and rename is def function

***na_values parameter***

In [ ]:
pd.read_csv('aug_train', na_values=['Male'])

***Loading a huge dataset in chunks***

In [ ]:
dfs=pd.read_csv('aug_train', chunksize=5000)

In [ ]:
for chunks in dfs:
    print(chunk.shape)