In [1]:
#1 find the factorial of 15.
Num=int(input("Enter your number"))
factorial=1
if Num<0:
    print("Sorry factorial does not exist for negative Num")
elif Num==0:
    print("Zero factorila will be Zero")
else:
    for i in range (1,Num+1):
        factorial=factorial*i
    print("The factorial of", Num, "is",factorial)

Enter your number 15

The factorial of 15 is 1307674368000

In [2]:
#2.perform python Key word (Breake,continue,pass)
#Break
for i in range(10):
    if i==8:
        break
    print(i,end="_")

0_1_2_3_4_5_6_7_

In [3]:
#3 How to find out the type for (list, tuple,set,dict,string,None,int,float)
#List
List=[1,2,3,4]

print(type(List))

<class 'list'>

In [4]:
#tuple
Tuple=("Nitesh","Sumit","Aastha","Kapil")

print(type(Tuple))

<class 'tuple'>

In [5]:
#set
Set={"Manu","Sonu","Sandeep","Aman"}
print(type(Set))

<class 'set'>

In [6]:
#dictinary
Dict={"Nitesh":"12645","Sumit":"789879"}

print(type(Dict))

<class 'dict'>

In [7]:
#string,None,int,float
#String
X="Nitesh"
print(type(X))

#None
Y=None
print(type(Y))

#int
x=12345
print(type(x))

#Float
x=23.6
print(type(x))

<class 'str'>
<class 'NoneType'>
<class 'int'>
<class 'float'>

In [8]:
#4 Lamda function 1 example
x=lambda a:a+5/2

print(x(5))

7.5

In [9]:
#5 conver tuple in to list

Tuple=(1,2,3,4,5)

List=list(Tuple)

print(List)
print(type(List))

[1, 2, 3, 4, 5]
<class 'list'>

In [10]:
#6 conver list in to tuple
List=[56,34,23,78,98]
Tuple=tuple(List)
print(Tuple)
print(type(Tuple))

(56, 34, 23, 78, 98)
<class 'tuple'>

In [11]:
#7 conver list in to Set
List=[56,34,23,78,23,78,56,34,98]
Set=set(List)
print(Set)
print(type(Set))

{34, 98, 78, 23, 56}
<class 'set'>

In [12]:
#8 *args(stu_name,stu_roll_num,stu_age,stu_gender)

def fun1(*args):
    print("stu_name is",args[0],"roll_num",args[1],"age",args[2],"Stu_gender",args[3])

fun1("Nitesh","64","31","M")
fun1("Sumit","23","29","M")

stu_name is Nitesh roll_num 64 age 31 Stu_gender M
stu_name is Sumit roll_num 23 age 29 Stu_gender M

In [13]:
#**kwargs(emp_id,emp_salary)
def emp_id(**kwargs):
    
    for key,value in kwargs.items():
        print(key,value)
Salary={"Manu":240000,"Kavita":678687,"Aastha":768769}

emp_id(**Salary)

Manu 240000
Kavita 678687
Aastha 768769

In [14]:
#9.ternary operation-1-example

Age= int(input("Enter your age"))

print("You can vote") if Age >= 18 else print("can't vote")

Enter your age 18

You can vote

In [15]:
#10how to divide data in to 2 different list(1-example).
evenlist=[]
oddlist=[]

for i in range(1,50,1):
    if i%2==0:
        evenlist.append(i)
    else:
        oddlist.append(i)
        
print(evenlist)
print(oddlist)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]