#1 palidrome series (user define function and pre-define function)

In [1]:
#User define function(909,505,mom,taat)
a="taat"
if a==a[::-1]:
    print("yes,It's palindrom series")
else:
    print("No")

yes,It's palindrom series

In [2]:
#Pre define function

a= input("Enter your Num")

if a==a[::-1]:
    print("Yes,It's palindrom series")
else:
    print("No")

Enter your Num 121

Yes,It's palindrom series

#2. Deep copy and shallow copy 
   ex.
   l=[[1,2],["raj","jay"]]

deep copy = ("raj" replace with "manisha")

shallow copy = (2 replace with 10)

In [3]:
#Deep copy(deep copy = ("raj" replace with "manisha"))
l=[[1,2],["raj","jay"]]
import copy
a=copy.deepcopy(l)

a[1][0]="Manisha"

print(l)
print(a)

[[1, 2], ['raj', 'jay']]
[[1, 2], ['Manisha', 'jay']]

In [4]:
#shallow copy (shallow copy = (2 replace with 10))
l=[[1,2],["raj","jay"]]

import copy

a=copy.copy(l)

a[0][1]=10

print(l)
print(a)

[[1, 10], ['raj', 'jay']]
[[1, 10], ['raj', 'jay']]

In [5]:
#3. Write a Python program that takes three numbers as input and prints the larger number.

Num1=int(input("Enter your Num1"))
Num2=int(input("Enter your Num1"))
Num3=int(input("Enter your Num1"))

if (Num1>Num2) and (Num1>Num3):
    largest=Num1
if (Num2>Num1) and (Num2>Num3):
    largest=Num2
else:
    largest=Num3

print(largest,"is the largest Number")

Enter your Num1 12
Enter your Num1 45
Enter your Num1 23

45 is the largest Number

In [6]:
#4. create Table = 7
Num=int(input("Enter your table number"))

for i in range(1,11):
    print(Num,"x",i,"=", Num*i)
    
print("The Multiplication table of :",Num)

Enter your table number 7

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
The Multiplication table of : 7

5. performe operators :
   
   perfome all 6 operator with 2 example
   A.Arithmetic operators (+,-,*,/,%,//,**)
   B.Assignment Operators (=,+=,-=,*=,/=,%=,**=,//=)
   C.Comparison Operators (==,!=,>,>=,<,<=)
   D.Logical Operators (and, or, not)
   E.Identity Operators (is, is not)
   F.Membership Operators (in, not in)

In [7]:
#A.Arithmetic operators (+,-,*,/,%,//,**)
A=300
B=400
print(A+B)

C=20
D=5
print(C**D)

700
3200000

In [8]:
#B.Assignment Operators (=,+=,-=,*=,/=,%=,**=,//=)
A=10
A+=2
print(A)

B=4
B**=2
print(B)

12
16

In [9]:
#C.Comparison Operators (==,!=,>,>=,<,<=)
A=5
B=3
print(A>B)

A=10
B=3
print(A<B)

True
False

In [10]:
#D.Logical Operators (and, or, not)
A=23

print(A>3 and A<10)

A=23

print(A>3 or A<10)

False
True

In [11]:
#E.Identity Operators (is, is not)
#IS
x="nitesh"
y="Santosh"
print(x is y)

#IS NOT
x="Manu"
y="Gungun"
print(x is not y)

False
True

In [12]:
#F.Membership Operators (in, not in)
#In

List=["Delhi","Faridabad","Gurugram"]

print("Delhi" in List)

#NOT IN

List=["Delhi","Faridabad","Gurugram"]

print("Mumbai" not in List)

True
True

#6 swap value (2 variable) (use int or float as input) (pre defind and user defind

In [13]:
#pre defind
X=10
Y=30

X,Y=Y,X

print(X)
print(Y)

30
10

In [14]:
#User defind
X=int(input("Enter your X value"))
Y=int(input("Enter your Y value"))

X,Y=Y,X

print("X=",X)
print("Y=",Y)

Enter your X value 45
Enter your Y value 23

X= 23
Y= 45

7. swap value (3 variable) (use string as input)
   (pre defind and user defind)

In [15]:
#pre defind swap value (3 variable)
x="NitesH"
y="Manu"

temp=x
x=y
y=temp

print("The value of x after swapping",x)
print("The value of y after swapping",y)

The value of x after swapping Manu
The value of y after swapping NitesH

In [16]:
#User defind swap value (3 variable)
x=input("Enter the name")
y=input("Enter the name")

temp=x
x=y
y=temp

print("The value of x after swapping",x)
print("The value of y after swapping",y)

Enter the name Manu
Enter the name Nitesh

The value of x after swapping Nitesh
The value of y after swapping Manu

In [17]:
#8. one example of nested if-else statement.
Num = 14
if Num >= 0:
    print("Positive number") 
else:
    print("Negative number")

Positive number

In [18]:
#create a program that asks the user for Seven numbers and then prints them in ascending order.

Num1=int(input("Enter your num1"))
Num2=int(input("Enter your num2"))
Num3=int(input("Enter your num3"))
Num4=int(input("Enter your num4"))
Num5=int(input("Enter your num5"))
Num6=int(input("Enter your num6"))
Num7=int(input("Enter your num7"))

Asending_Order=sorted([Num1,Num2,Num3,Num4,Num5,Num6,Num7])

print("Number is in ascending order:",Asending_Order)

Enter your num1 23
Enter your num2 14
Enter your num3 56
Enter your num4 21
Enter your num5 67
Enter your num6 36
Enter your num7 78

Number is in ascending order: [14, 21, 23, 36, 56, 67, 78]

In [19]:
#10.Write a Python program that takes two numbers as input and prints the larger number.

Num1=int(input("Enter your Num1"))
Num2=int(input("Enter your Num1"))

if Num1>Num2:
    largest=Num1
else:
    largest=Num2

print(largest,"is the largest Number")

Enter your Num1 12
Enter your Num1 45

45 is the largest Number