In [1]:
#1.performe multiple inheritance - 1 example

In [2]:
#Single inheritance example
class Manager:
    project1="Diebold"
    project2="Dyson"
    project3="Coty"
class Ass_Manager(Manager):
    Team1="Developer"
    Team2="Testing"
    Team3="Production"

obj1=Ass_Manager()

print(obj1.project1,"is",obj1.Team1,"Team")
print(obj1.project2,"is",obj1.Team2,"Team")  
print(obj1.project3,"is",obj1.Team3,"Team")

Diebold is Developer Team
Dyson is Testing Team
Coty is Production Team

In [3]:
#Multipal inheritance example:
class Cricket_Team():
    Team1="India"
    Team2="AUS"
    Team3="PAK"
class players():
    player1="Virat_Kohli"
    player2="Devid_warner"
    player3="Babar_Azam"
class Home():
    Home1="Mumbai"
    Home2="Melborn"
    Home3="Karachi"
class Rank(players,Home,Cricket_Team):
    rank1="1st rank"
    rank2="2nd rank"
    rank3="3rd rank"
obj1=Rank()

print(obj1.player1, "is",obj1.rank1,"player","and he is from",obj1.Team1,"city",obj1.Home1)
print(obj1.player2, "is",obj1.rank2,"player","and he is from",obj1.Team2,"city",obj1.Home2)
print(obj1.player3, "is",obj1.rank3,"player","and he is from",obj1.Team3,"city",obj1.Home3)

Virat_Kohli is 1st rank player and he is from India city Mumbai
Devid_warner is 2nd rank player and he is from AUS city Melborn
Babar_Azam is 3rd rank player and he is from PAK city Karachi

In [4]:
#Multilevel inheritance example:
class Company:
    Company1 = "Diebold "
    Company2 = "Dyson "
    Company3 = "Copy "

class product(Company):
    proj_1="is an ATM production company"
    proj_2="is an Air_Filter production company"
    proj_3="is an hardware production company"
    
class production(product):
    pro_1 = " production rate is 90%"
    pro_2 = " production rate is 94%"
    pro_3 = " production rate is 97%"
    
obj1=production()

print(obj1.Company1,obj1.proj_1,"and",obj1.pro_1)
print(obj1.Company2,obj1.proj_2,"and",obj1.pro_2)
print(obj1.Company3,obj1.proj_3,"and",obj1.pro_3)

Diebold  is an ATM production company and  production rate is 90%
Dyson  is an Air_Filter production company and  production rate is 94%
Copy  is an hardware production company and  production rate is 97%

In [5]:
#Hierarchical inheritance
class Teacher():
    def Fun1 (self):
        print("I am teacher")
class Student1(Teacher):
    def Fun2(self):
        print("I am 1st student")
class Student2(Teacher):
    def Fun3(self):
        print("I am 2nd student")

obj1=Student1()
obj1.Fun1()
obj1.Fun2()

obj2=Student2()   
obj2.Fun3()

I am teacher
I am 1st student
I am 2nd student

In [6]:
#Hybrid inheritance:
class PM:
    def fun1(self):
        print("I am PM of India")
class CM(PM):
    def fun2(self):
        print("I am CM of U.P")
              
class centeral_M(PM):
    def fun3(self):
        print("I am Railway_M")
class MLA(CM):
    def fun4(self):
        print("I am MLA")
obj1=MLA()
obj1.fun4()
obj1.fun2()

obj2=centeral_M()
obj2.fun1()
obj2.fun3()

I am MLA
I am CM of U.P
I am PM of India
I am Railway_M

In [7]:
#2.how to create class  help of constructor (emp_name, emp_id) = 3
class Emp:
    def __init__(self,emp_name,emp_id):
        self.emp_name = emp_name
        self.emp_id = emp_id
    def empdetail(self):
        print("Name of emp is ", self.emp_name)
        print("Emp ID is", self.emp_id)

obj1=Emp("Nitesh",3)
obj1.empdetail()

Name of emp is  Nitesh
Emp ID is 3

In [8]:
#3.performe hybrid inheritance - 1 example
class Company:
    def fun1(self):
        print( "My company name id Accenture")
class project(Company):
    def fun2(self):
        print("My project name is Diebold")
class Team(project):
    def fun3(self):
        print("My Team is US-P2P")
class member(Team):
    def fun4(self):
        print("Santosh is my Team_member")

obj1=member()
obj1.fun4()
obj1.fun3()

obj2=project()
obj2.fun2()
obj2.fun1()

Santosh is my Team_member
My Team is US-P2P
My project name is Diebold
My company name id Accenture

In [9]:
#4.performe iterator - 1 example
mytuple = ("apple", 56,23,"banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

apple
56
23
banana
cherry

In [10]:
#5.method override - 1 example
class teacher:
    def fun1(self):
        print("I am Math Teacher")
        
class Student(teacher):
    def fun1(self):
        print("I am student")
        
obj=Student()
obj.fun1()

obj=teacher()
obj.fun1()

I am student
I am Math Teacher

In [11]:
#6.perform local name and global name - 1 example
#local name
def fun1():
    x="Nitesh"
    print(x)

fun1()

Nitesh

In [12]:
#global name
x=""" Hi Team GM,
            Manav is good emp
            He is working in Dyson
            He have 5 year ex as SQL developer"""

def Intro_emp1():
    print(x)

Intro_emp1()

 Hi Team GM,
            Manav is good emp
            He is working in Dyson
            He have 5 year ex as SQL developer

In [13]:
#7. perfome singal inheritance - 1 example

class Team():
    Team1="OTC"
    Team2="R2R"
class member(Team):
    Member1=("Santosh working in")
    Member2=("Babli working in ")
obj1=member()

print(obj1.Member1,obj1.Team1)
print(obj1.Member2,obj1.Team2)

Santosh working in OTC
Babli working in  R2R

In [14]:
#8. python string formatting - 1 example
#int value
x=49

srt="My doller price is {} USD"

print(srt.format(x))

My doller price is 49 USD

In [15]:
#Float value
x=83

srt="My doller value is {:.2f} USD"

print(srt.format(x))

My doller value is 83.00 USD

In [16]:
# Multiple Values
Project=3
Emp=16


srt=" I have {} project with {} emp"

print(srt.format(Project,Emp))

 I have 3 project with 16 emp

In [17]:
#index
Project=3
Emp=16
shift=2
srt=" I have {0} project with {1} emp in {2} shift"

print(srt.format(Project,Emp,shift))

 I have 3 project with 16 emp in 2 shift

In [18]:
#9 how to remove duplicate from list [10,20,30,10,20,30,40,50,60,70,80]

List=[10,20,30,10,20,30,40,50,60,70,80]

st=set(List)

print(st)

{70, 40, 10, 80, 50, 20, 60, 30}

In [19]:
#10 calculate_average? use this function to find the average of 15, 100, 515, 220, 550, 800. 
def Calculate_arg(*arg):
    if len(arg)==0:
        return 0
    else:
        return sum(arg)/len(arg)
        
arg=Calculate_arg(15, 100, 515, 220, 550, 800)

print("Average of the number",arg)

Average of the number 366.6666666666667