In [1]:
import pandas as pd

C:\Users\Admin\AppData\Local\Temp\ipykernel_12836\2035458946.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
from sqlalchemy import create_engine
hostname="localhost"
username="root"
password="Erbipin%4056"
port= 3306
database="nitesh"

#mysql://user:password@host:port/database

print("mysql+pymysql://"+username +':'+ password+'@'+hostname+':'+str(port)+'/'+database)

cnx = create_engine('mysql+pymysql://' +username +':'+ password+'@'+hostname+':'+str(port)+'/'+database)

conn = cnx.connect()

#here i got error(OperationalError: (pymysql.err.OperationalError) (2003, "Can't connect to MySQL server on '56@localhost' ([Errno 11003] getaddrinfo failed)"))
#so we have replace the @ with %40 in password

mysql+pymysql://root:Erbipin%4056@localhost:3306/nitesh

#how to check the data in dataset
sql_query= pd.read_sql_query('select* from vska.cars',conn)
df= pd.DataFrame(sql_query)
print(df)
print(df.shape)

conn.close
#here vska is database and cars is table

In [ ]:
#How to move file Python to SQL

In [9]:
import pandas as pd
df=pd.read_csv(r"C:\Users\Admin\Desktop\Data Analyst\New/orders.csv")
df.head(5)

  model_id;"model_name";"colur";"brand"
0             1;"leaf";"black";"Nissan"
1           3;"Model_s";"black";"Tesla"
2           4;"Model_x";"White";"Tesla"
3          5;"Ioniq5";"black";"Hyundai"

In [10]:
from sqlalchemy import create_engine
hostname="localhost"
username="root"
password="Erbipin%4056"
port= 3306
database="nitesh"

#mysql://user:password@host:port/database

print("mysql+pymysql://"+username +':'+ password+'@'+hostname+':'+str(port)+'/'+database)

cnx = create_engine('mysql+pymysql://' +username +':'+ password+'@'+hostname+':'+str(port)+'/'+database)

conn = cnx.connect()

mysql+pymysql://root:Erbipin%4056@localhost:3306/nitesh

In [11]:
df.to_sql('orders',con=conn,index=False, if_exists='replace')
conn.close()