In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
import pandas as pd

In [3]:
# Load the data (assuming 'Budget.csv' and 'Expenditure.csv' are the filenames)
budget_df = pd.read_excel(r"C:\Users\Admin\Desktop\Assement interview\Budget.xlsx")
expenditure_df = pd.read_excel(r"C:\Users\Admin\Desktop\Assement interview\Expenditure.xlsx")

In [4]:
budget_df.head()

        Date  Budget  Department
0 2020-01-01   51190       SALES
1 2020-01-01   52045  OPERATIONS
2 2020-01-01   89040     ACCOUNT
3 2020-01-01   68362          IT
4 2020-01-01   73285          HR

In [5]:
expenditure_df.head()

        Date  Spend  Department
0 2020-01-01  85799       SALES
1 2020-01-01  97385  OPERATIONS
2 2020-01-01  95259     ACCOUNT
3 2020-01-01  86532          IT
4 2020-02-01  72466       SALES

In [6]:
budget_annual = budget_df.groupby('Department')['Budget'].sum()
budget_annual

Department
ACCOUNT       847119
HR            721197
IT            800314
OPERATIONS    612703
SALES         824909
Name: Budget, dtype: int64

In [7]:
expenditure_annual = expenditure_df.groupby('Department')['Spend'].sum()
expenditure_annual

Department
ACCOUNT       843427
HR            624448
IT            784397
OPERATIONS    872476
SALES         818836
Name: Spend, dtype: int64

In [8]:
# Calculate the savings (Budget - Expenditure)
annual_savings = budget_annual - expenditure_annual
annual_savings

Department
ACCOUNT         3692
HR             96749
IT             15917
OPERATIONS   -259773
SALES           6073
dtype: int64